#card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
}
.cardItem {
  text-align: center;
  margin: 0px 10px;
}
#income {
  color: green;
  font-weight: bold;
}
#expense {
  color: red;
  font-weight: bold;
}

#v-line {
  border: 0.25px solid #afa9a9;
  height: 30px;
  margin: 0px 20px;
}
